<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="ClassLibrary1.Settings1" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <connectionStrings>
        <add name="ClassLibrary1.Settings1.Connection" connectionString="Server=tcp:keklol3.database.windows.net,1433;Initial Catalog=Shop;Persist Security Info=False;User ID=keklol;Password=kenanman1!;MultipleActiveResultSets=False;Encrypt=False;" />
    </connectionStrings>
    <userSettings>
        <ClassLibrary1.Settings1>
            <setting name="UserId" serializeAs="String">
                <value>0</value>
            </setting>
        </ClassLibrary1.Settings1>
    </userSettings>
</configuration>